# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
env/
venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
download/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# PyCharm
.idea/

# VS Code
.vscode/

# dotenv
.env

# macOS
.DS_Store

# Notebook checkpoints
.ipynb_checkpoints/

# data files (optional)
# data/
